/*CUSTOM VARIABLES HERE*/
 
.level-1 {
  width: 50%;
  margin: 0 auto 40px;
  background: var(--level-1);
}
 
.level-1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--black);
}